<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <h2>This is a simple calculator webapp.
        <br>Let's try to calculate something.
    </h2>

    <form method="post" action="/result">
        Enter first number here: <input type="text" name="l1">
        <br>Enter desired sign + - * / : <input name="l2">
        <br>Enter second number here: <input type="text" name="l3">
        <br><button type="submit">Calculate</button>
    </form>
</body>
</html>